* {
	margin: 0;
    padding: 0;
    color: white;
    font-family: verdana;
    font-weight: lighter;
	line-height: 150%;
}
html, body {
    width: 100%;
    height: 100%;
	font-size: 1vw;
}
a {
	text-decoration: none;
}
.background01 {
	background-image: url(https://i.ibb.co/YtQChkh/picofme01-02.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	text-align: center;
	scroll-behavior: smooth;
}
.background02 {
	background-image: url(https://i.ibb.co/bvjwbfZ/picofme02-02.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	text-align: center;
	scroll-behavior: smooth;
}
.background03 {
	background-image: url(https://i.ibb.co/DD4pK4h/picofme12-02.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	text-align: center;
	scroll-behavior: smooth;
}
ul {
	display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #d1d1d1;
    color: blue;
	transition: 1s;
}

.active {
    background-color: #c4bd6f;
    color: black;
}
.content h1 {
	font-size: 2vw;
	font-weight: bold;
}
.link:hover {
	text-decoration: underline;
}


/*Large screens*/
@media screen and (min-width: 600px) {
	.content {
		display: flex;
		padding: 0px 40px 0px 40px;
		border-radius: 25px;
		margin: 0px 300px;
		flex-direction: column;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.content-last {
		display: flex;
		padding: 0px 40px 0px 40px;
		border-radius: 25px;
		margin: 0px 300px;
		flex-direction: column;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
	}

	/*main header*/
	.home {
		padding-top: 100px;
		height: 300px;
		width: 100%;
		display: block;
  		align-items: center;
  		justify-content: center;
	}
	.home h1 {
		display: block;
		align-items: center;
		vertical-align: middle;
	    width: 100%;
		height: 100px;
		font-size: 3.5vw;
		float: right;
		font-weight: bolder;
		color: #424242;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}
	.home h3 {
		display: block;
		align-items: center;
		vertical-align: middle;
		font-size: 3.5vw;
	    width: 100%;
		height: 100px;
		color: #424242;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	.style1 {
		float: left;
		width: 100%;
		font-size: .8vw;
	}
	.style1 h1 {
		font-size: 2vw;
		font-weight: bolder;
	}
	.style1 h2 {
		display: flex;
		margin-top: 30px;
		font-size: 1.5vw;
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.style1 h3 {
		display: flex;
		font-style: italic;
		font-size: 1vw;
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.style1 p {
		display: flex;
		float: left;
		width: 100%;
		text-align: left;
		margin: 5px 0;
	}
	.last {
		display: flex;
		float: left;
		width: 100%;
		text-align: left;
		padding-bottom: 100px;
	}
	.contact {
		margin: 50px;
		padding: 5px;
	}

	.left {
	    display: table-cell;
	    vertical-align: middle;
	    float: left;
	}
	.right {
	    display: table-cell;
	    vertical-align: middle;
	    float: right;
	}
	.centered-text {
		display: flex;
		text-align: center;
		justify-content: center;
		width: 100%;
		text-align: left;
	}
	.top:hover {
		text-decoration: underline;
	}

}


/*Small screens*/
@media screen and (max-width: 1000px) {
	ul {
		display: flex;
	    list-style-type: none;
	    margin: 0;
	    padding: 0px;
	    overflow: hidden;
	    background-color: #424242;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    justify-content: space-between;
	    font-size: 4vw;
	}
	.background01 {
		background-image: url(https://i.ibb.co/YtQChkh/picofme01-02.jpg);
		background-repeat: repeat;
		text-align: center;
		scroll-behavior: smooth;
		background-size: contain;
		background-attachment: fixed;
	}
	.background02 {
		background-image: url(https://i.ibb.co/bvjwbfZ/picofme02-02.jpg);
		background-repeat: repeat;
		text-align: center;
		scroll-behavior: smooth;
		background-size: contain;
		background-attachment: fixed;
	}
	.background03 {
		background-image: url(https://i.ibb.co/DD4pK4h/picofme12-02.jpg);
		background-repeat: repeat;
		text-align: center;
		scroll-behavior: smooth;
		background-size: contain;
		background-attachment: fixed;
	}
	.content {
		display: flex;
		padding: 0px 40px 0px 40px;
		border-radius: 0px;
		margin: 0px 0px;
		flex-direction: column;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.content h1 {
		font-size: 5vw;
	}
	.content-last h1 {
		font-size: 5vw;
	}
	.content-last {
		display: flex;
		padding: 0px 40px 0px 40px;
		border-radius: 0px;
		margin: 0px 0px;
		flex-direction: column;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
	}

	/*main header*/
	.home {
		height: 300px;
		width: 100%;
		display: block;
  		align-items: center;
  		justify-content: center;
	}
	.home h1 {
		display: block;
		align-items: center;
		vertical-align: middle;
		padding-top: 100px;
	    width: 100%;
		height: 100px;
		font-size: 6vw;
		float: right;
		color: #424242;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}
	.home h3 {
		display: block;
		align-items: center;
		vertical-align: middle;
		font-size: 5vw;
	    width: 100%;
		height: 100px;
		color: #424242;
		font-weight: bold;
		-webkit-text-stroke: 1px white;
	}

	/*style for content in "content"*/
	.style1 {
		float: left;
		font-size: 3vw;
		width: 100%;
	}
	.style1 h1 {
		font-size: 5vw;
		font-weight: bolder;
	}
	.style1 h2 {
		display: flex;
		margin-top: 30px;
		font-size: 3vw;
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.style1 h3 {
		display: flex;
		font-style: italic;
		font-size: 3vw;
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.style1 p {
		display: flex;
		float: left;
		width: 100%;
		text-align: left;
		margin: 5px 0;
	}

	/*last item in content/style1*/
	.last {
		display: flex;
		float: left;
		width: 100%;
		text-align: left;
	}
	.style2 h1 {
		font-size: 5vw;
	}
	.style2 p {
		display: flex;
		text-align: center;
		width: 100%;
		font-size: 3.5vw;
		text-align: left;
		margin: 5px 0;
	}
	.centered-text {
		display: flex;
		text-align: center;
		justify-content: center;
		width: 100%;
		text-align: left;
		padding-bottom: 50px;
	}
	.left {
	    display: table-cell;
	    vertical-align: middle;
	    float: left;
	}
	.top {
		font-size: 3vw;
		margin: 20px;
	}
	.top:hover {
		text-decoration: underline;
	}
}